# ignore all Matlab autosaves
*.asv

# ignore all Matlab files that are saved just to create graphics
*GRAPHICS*


# ignore unfinished or unused examples
*NEVYUZITE*

# ignore temporary files
*DEL*
*TEMP*
*TEST*
